.icons{
    display:flex;
    flex-direction:column;
    width:100%;
    &__container{
        display:flex;
        justify-content: center;
        margin: .5rem 0;
    }
    &__overlay{
        align-self: center;
        margin:0 3rem;
    }
    &__img{
        width:5rem;
        align-self: center;
    }
    &__tabletcontainer{
        @include tablet{
            display:flex;
            justify-content: center;
        }
    }
}