.work{
    display:flex;
    flex-direction: column;
    text-align: center;
    &__heading{
        font-size:1.8rem;
        @include tablet{
            font-size: 2rem;
        }
    }
    &__container{
        border-radius: 1rem;
        margin:1rem;
        background:#18608a;
        @include tablet{
            margin:1rem 10rem;
        }
        @include laptop{
            width:50rem;
            align-self:center;
        }
    }
    &__title{
        font-size:1.5rem;
        margin:.5rem;
        @include tablet{
            margin:1rem;
        }
    }
    &__listcontainer{
        display:flex;
        justify-content: center;
        padding:.5rem;
    }
    &__list{
        width:15rem;
        display:flex;
        justify-content: space-between;
    }
    &__links{
        margin:0 2rem .5rem;
        display:flex;
        justify-content: center;
    }
    &__button{
        display:inline-flex;
        align-items: center;
        justify-content: center;
        background-color:#34ebe1;
        border-radius: 1rem;
        width:5rem;
        height:2.5rem;
        color:#18608a;
        margin:.5rem;
        :hover{
            cursor: pointer;;
        }
        @include tablet{
            width:6rem;
            height:3rem;
        }
    }
}